<div id="about">
  <h3>About Me</h3>
  <%= image_tag("smile.jpeg", id: "about-img") %>
  <p class="about-paragraph">Long ago in a distant land, I the evil Aku, unleashed an unspeakable evil. But a foolish samurai wielding a magic sword, step forward to opose me. Before the final blow, was struck.</p>
</div>