#header {
  color: white;
  background-color: #E20200;
  /*One value for all 4 sides*/
  margin: 5px;
  /*Two values for top and bottom and then left and right*/
  /*Top, right, bottom, left for all 4 sides*/
  padding: 10px 20px 10px;

  text-align: center;
}

body {
  background-color: lightgrey;
}