#header {
  color: white;
  background-color: #E20200;
  /*One value for all 4 sides*/
  margin: 5px;
  /*Two values for top and bottom and then left and right*/
  /*Top, right, bottom, left for all 4 sides*/
  padding: 10px 20px 10px;

  text-align: center;
}

body {
  background-color: lightgrey;
}

.about-paragraph {
  color: white;
  background-color: #E20200
}

#navbar {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 10px 0;
}



.nav-item {
  display: inline-block;
  margin: 5px 9%;
}

.nav-item a {
  text-decoration: none;
  color: white;
  background-color: #E20200;
  padding: 5px;
  font-size: 1.2rem; 
  transition-duration: 500ms
}

.nav-item a:hover {
  color: #E20200;
  background-color: white;
  font-size: 1.4rem;
  transition-duration: 500ms;
}

#about-img {
  width: 30%;
  margin: 0 5px;
  float: right;
}
